
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false

[[headers]]
  for = "/*.tsx"
  [headers.values]
    Content-Type = "text/plain"
    Access-Control-Allow-Origin = "*"

[[headers]]
  for = "/*.ts"
  [headers.values]
    Content-Type = "text/plain"
    Access-Control-Allow-Origin = "*"
